// --------------------------------------------------
// Theme Button
// --------------------------------------------------

// eg: @include button();
@mixin button() {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: $font-size-button-theme;  
  border-radius: ($font-size-button-theme + 12px);
  background: $color-button-theme;

    &:focus,
    &:active:focus,
    &.active:focus,
    &.focus,
    &:active.focus,
    &.active.focus {
        outline: none;
    }

    &:hover {
        @include cubic-transition($delay: 0, $duration: 300ms, $property: (all));
    }

    &:hover,
    &:focus,
    &.focus {
        text-decoration: none;
    }

    &:active,
    &.active {
        background-image: none;
        outline: 0;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: not-allowed;
        box-shadow: none;
        opacity: .65;
        pointer-events: none;
    }
}

// --------------------------------------------------
// Cubic Bezier Transition
// --------------------------------------------------

// eg: @include cubic-transition($delay: 0, $duration: 300ms, $property: (all));
@mixin cubic-transition($delay, $duration, $property) {
    transition: {
        duration: $duration;
        property: $property;
        timing-function: cubic-bezier(.7,1,.7,1);
    }
}