/*----------------------------------------------------------------------

---------------------------------------------------------------------*/
/*------------------------------------------------------------------
  	[The "base.scss" contains basic default element styles
  		(colors, typography, margins & padding).]
------------------------------------------------------------------*/
html {
  overflow-x: hidden; }

html, html a, body {
  -webkit-font-smoothing: antialiased; }

body {
  background: #cfcfcf; }

/*------------------------------------------------------------------
  	[Header]
------------------------------------------------------------------*/
.btn-theme {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  border-radius: 26px;
  background: #16d428; }
  .btn-theme:focus, .btn-theme:active:focus, .btn-theme.active:focus, .btn-theme.focus, .btn-theme:active.focus, .btn-theme.active.focus {
    outline: none; }
  .btn-theme:hover {
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .btn-theme:hover, .btn-theme:focus, .btn-theme.focus {
    text-decoration: none; }
  .btn-theme:active, .btn-theme.active {
    background-image: none;
    outline: 0; }
  .btn-theme.disabled, .btn-theme[disabled], fieldset[disabled] .btn-theme {
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65;
    pointer-events: none; }

/*# sourceMappingURL=layout.css.map */
